@using MyDiet.Models.Dtos;
@using MyDiet.Services.IService;

@page "/productcategory/{id:int}/edit"
@inject IProductCategoryService _productCategoriesService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

<h3>Edit ProductCategory</h3>
<EditForm EditContext="EditContext" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator/>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p>
                    <MatTextField Label="Description" @bind-Value="@productCategoryDto.Description" FullWidth="true" />
                    <ValidationMessage For="@(() => productCategoryDto.Description)" />
                </p>
                <MatButton Style="background: green;" Type="submit" Raised="true">Update</MatButton>
                <MatButton Style="background: red;" Type="button" Raised="true" @onclick="Back">Cancel</MatButton>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private EditContext EditContext;
    private ProductCategoryDto productCategoryDto = new ProductCategoryDto();
    private ValidationMessageStore messages;

    protected override async Task OnInitializedAsync()
    {
        productCategoryDto = await _productCategoriesService.Get(id);
        EditContext = new EditContext(productCategoryDto);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        messages = new ValidationMessageStore(EditContext);
    }

    async Task ValidSubmit(EditContext editContext)
    {
        ProductCategoryDto productCategory = editContext.Model as ProductCategoryDto;

        await _productCategoriesService.Update(id, productCategory);

        Toaster.Add("Product Category Updated", MatToastType.Success, "Success");
        Back();
    }

    void Back()
    {
        NavigationManager.NavigateTo("/productcategories");
    }

    private void EditContext_OnFieldChanged(object sender,
                                               FieldChangedEventArgs e)
    {
        messages.Clear();
        string fieldName = e.FieldIdentifier.FieldName;
        ProductCategoryDto dto = e.FieldIdentifier.Model as ProductCategoryDto;
        bool isUnique = _productCategoriesService.CheckIfUnique(fieldName, dto);

        if (isUnique)
        {
            messages.Add(e.FieldIdentifier, $"{e.FieldIdentifier.FieldName} must be unique");
        }
        else
        {
            messages.Clear(e.FieldIdentifier);
        }
    }
}
