@using MyDiet.Models.Dtos;
@using MyDiet.Services.IService;

@page "/productcategory/{id:int}/edit"
@inject IProductCategoryService _productCategoriesService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

<h3>Edit ProductCategory</h3>
<EditForm Model="@productCategoryDto" OnValidSubmit="ValidSubmit">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p>
                    <MatTextField Label="Fiscal Code" @bind-Value="@productCategoryDto.Description" FullWidth="true" />
                    <ValidationMessage For="@(() => productCategoryDto.Description)" />
                </p>
                <MatButton Style="background: green;" Type="submit" Raised="true">Update</MatButton>
                <MatButton Style="background: red;" Type="button" Raised="true" @onclick="Back">Cancel</MatButton>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    ProductCategoryDto productCategoryDto = new ProductCategoryDto();

    protected override async Task OnInitializedAsync()
    {
        productCategoryDto = await _productCategoriesService.Get(id);
    }

    async Task ValidSubmit(EditContext editContext)
    {
        ProductCategoryDto productCategory = editContext.Model as ProductCategoryDto;

        await _productCategoriesService.Update(id, productCategory);
        
        Toaster.Add("Product Category Updated", MatToastType.Success, "Success");
        Back();
    }

    void Back()
    {
        NavigationManager.NavigateTo("/productcategories");
    }
}
